metadata.json
modified.csv
metadata.json:Zone.Identifier
original.csv
original.csv:Zone.Identifier
modified.csv:Zone.Identifier
original/room+occupancy+estimation.zip:Zone.Identifier
original/unzipped_room+occupancy+estimation/Occupancy_Estimation.csv:Zone.Identifier
original/unzipped_room+occupancy+estimation/Occupancy_Estimation.csv
